@import "tailwindcss";

:root {
  --cor-fundo-bloco: #ffffff;
  --cor-fonte: #000000;
  --cor-subtitulo: #4B5563;
  --cor-caixa-destaque: #013C3C;
}


@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #000000;
  }
}


body {
  background-color: var(--cor-fundo);
  color: var(--cor-fonte);
  font-family: Arial, Helvetica, sans-serif;
}
